.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
.idea/
.vscode/
*.egg-info/
dist/
build/
Noven/Code/auth.ipynb
Noven/Code/reviews.csv
Noven/Laporan/Fin_panduan_Tugas Akhir_Pradita University_Prodi Informatika.pdf