# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env


# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Thesis Documents & skripsi
thesis/

# Dataset files
gesture_dataset*.csv
dataset/gesture_dataset*.csv
